.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7.5rem;
  margin-bottom: 15rem;

  &__feature {
    text-align: center;
    place-self: center;

    img {
      margin-bottom: 2rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    p {
      width: 60%;
      margin: 0 auto;
    }
  }

  &__feature--2 {
    img {
      margin-bottom: 1rem;
    }
  }
}
