// Font family for body
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Font family for headings, CTA, Header etc
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $fontOpenSans;
  font-size: $fontSize;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
}
