.newsletter {
  transform: translateY(25rem);
  position: relative;
  z-index: 1;

  &__container {
    background: $darkBlueTestimonials;

    width: 60%;
    margin: 0 auto;
    padding: 5rem 5rem;
    border-radius: 0.5rem;
    transform: translateY(-20rem);
    box-shadow: 1px 1rem 1.5rem rgba(0, 0, 0, 0.3);
  }

  h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  p {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  input {
    padding: 1.5rem 2rem;
    width: 60%;
    border-radius: 10rem;
    outline: 0;
    margin-right: 4rem;
    margin-left: 2rem;
  }

  &__cta {
    display: inline-block;
    background-color: $blue;
    padding: 1.2rem 4rem;

    border-radius: 5rem;
    font-weight: bold;
    transition: all 400ms;

    &:hover {
      background-color: $cyan;
    }
  }
}
