.testimonial {
  display: flex;
  position: relative;

  &__quotes {
    align-self: flex-start;
    position: absolute;
    top: -3.5rem;
    left: -1rem;
  }

  &__testimonial--1,
  &__testimonial--2,
  &__testimonial--3 {
    background-color: $darkBlueTestimonials;
    padding: 5rem 3rem;
    z-index: 5;

    &:not(:last-child) {
      margin-right: 5rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  &__user-info {
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: -1rem;

    img {
      width: 4rem;
      border-radius: 50%;
      align-self: center;
      margin-right: 1.25rem;
    }

    display: flex;
  }
}
