/*************** Fonts ***************/
/*************** Colors ***************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.container {
  max-width: 144rem;
  margin: 0 auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 3rem;
  background-color: #181f2a;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  margin-bottom: 15rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.header__logo-container img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header ul li:not(:last-child) {
  margin-right: 2rem;
}

.header ul a:hover {
  color: #65e2d9;
}

.header__imageContainer {
  width: 40rem;
  height: 30rem;
  margin: 0 auto;
}

.header__imageContainer img {
  width: 100%;
  height: 100%;
}

.header h2 {
  width: 40%;
  margin: 5rem auto 2rem auto;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.header p {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.7;
}

.header__ctaContainer {
  text-align: center;
  margin-top: 3rem;
}

.header__cta {
  display: inline-block;
  background-color: #65e2d9;
  padding: 1.2rem 6rem;
  border-radius: 5rem;
  font-weight: bold;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.header__cta:hover {
  opacity: 0.8;
}

.header__cta:active {
  -webkit-box-shadow: 1px 2px 4px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 1px 2px 4px 0 rgba(255, 255, 255, 0.1);
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 7.5rem;
  margin-bottom: 15rem;
}

.features__feature {
  text-align: center;
  place-self: center;
}

.features__feature img {
  margin-bottom: 2rem;
}

.features__feature h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.features__feature p {
  width: 60%;
  margin: 0 auto;
}

.features__feature--2 img {
  margin-bottom: 1rem;
}

.how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15rem;
}

.how-it-works__imgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5rem;
}

.how-it-works__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10rem 0;
}

.how-it-works__info h2 {
  font-size: 3.5rem;
  line-height: 1.3;
  width: 50%;
  margin-bottom: 2rem;
}

.how-it-works__info p {
  margin-bottom: 2rem;
  width: 80%;
}

.how-it-works__info a {
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin-right: 2rem;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.testimonial__quotes {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  top: -3.5rem;
  left: -1rem;
}

.testimonial__testimonial--1, .testimonial__testimonial--2, .testimonial__testimonial--3 {
  background-color: #202a3c;
  padding: 5rem 3rem;
  z-index: 5;
}

.testimonial__testimonial--1:not(:last-child), .testimonial__testimonial--2:not(:last-child), .testimonial__testimonial--3:not(:last-child) {
  margin-right: 5rem;
}

.testimonial__testimonial--1 p, .testimonial__testimonial--2 p, .testimonial__testimonial--3 p {
  margin-bottom: 2rem;
}

.testimonial__user-info {
  font-size: 1.4rem;
  border-radius: 5px;
  margin-bottom: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__user-info img {
  width: 4rem;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1.25rem;
}
/*# sourceMappingURL=style.css.map */